body {
    background-color:thistle;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: yellow;
    font-family: monospace;
    border: none;
    height: 20px;
}

#gridder {
    display: flex;
    background-color: rgb(138, 43, 226); 
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:normal; 
}

.child {
    background-color: rgb(0, 0, 0);
}
