body {
    background-color:hsl(282, 26%, 25%);
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: yellow;
    font-family: monospace;
    border: none;
    height: 20px;
}

#gridder {
    margin-top: 150px;
    display: flex;
    background-color: rgb(255, 255, 255); 
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: normal; 
    box-shadow: white 0px 0px 30px;
}
